# Python
**/__pycache__/
**/*.py[cod]
**/.venv/
.vscode/
**/.pytest_cache
***/.pytest_cache
# Developers
Release/

# Flutter/Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# macOS
**/.DS_Store
.DS_Store